<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link href="http://gmpg.org/xfn/11" rel="profile" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Enable responsiveness on mobile devices-->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1"
    />

    <div class="post">
      <h1 class="post-title">{{ page.title }}</h1>
      <span class="post-date">{{ page.date | date_to_string }}</span>
      {{ content }}
    </div>

    <div class="related">
      <h2>Related Posts</h2>
      <ul class="related-posts">
        {% for post in site.related_posts limit:3 %}
        <li>
          <h3>
            <a href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
        {% endfor %}
      </ul>
    </div>
    <title>Chow Jia Yi</title>

    <!-- CSS -->
    <link rel="stylesheet" href="public/css/poole.css" />
    <link rel="stylesheet" href="public/css/syntax.css" />
    <link rel="stylesheet" href="public/css/hyde.css" />
    <link
      rel="stylesheet"
      href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface"
    />

    <!-- Icons -->
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="{{ site.baseurl }}public/apple-touch-icon-144-precomposed.png"
    />
    <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico" />

    <!-- RSS -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS"
      href="/atom.xml"
    />
  </head>

  <body>
    <div class="sidebar">
      <div class="container sidebar-sticky">
        <div class="sidebar-about">
          <h1>
            <a href="{{ site.baseurl }}">Chow Jia Yi</a>
          </h1>
          <p class="lead">Software Engineer</p>
        </div>

        <nav class="sidebar-nav">
          <a class="sidebar-nav-item" href="#home">Home</a>
          <a class="sidebar-nav-item" href="#skills">Skills</a>
          <a class="sidebar-nav-item" href="#experience">Work Experience</a>
          <a class="sidebar-nav-item" href="#education">Education</a>
          <a
            class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}"
            href="{{ node.url }}"
            >Projects</a
          >
          <a
            class="sidebar-nav-item"
            href="{{ site.github.repo }}/archive/v{{ site.version }}.zip"
            >Download</a
          >
          <a class="sidebar-nav-item" href="{{ site.github.repo }}"
            >GitHub project</a
          >
          <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
        </nav>

        <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
      </div>
    </div>

    <div class="content container">
      <div id="home">
        Hello! I am Jia Yi, a software engineer in the industry for < 2 years,
        and I previously graduated from the Singapore University of Technology
        and Design (SUTD) in 2021. I am interested in web developement, and I am
        open to backend or full stack engineer opportunities!
      </div>
      <div id="skills">
        <h3>My Skills</h3>
        <p>Languages: Java, Javascript/TypeScript, Python, HTML, CSS</p>
        <p>Technologies: Spring Boot, Mockito, Junit, Angular, Flask</p>
        <p>Other: Git, CI/CD, Jenkins, AWS, MySQL</p>
      </div>
      <div id="experience">
        <h3>Experience</h3>
        <h4>Software Developer, PayPal Singapore</h4>
        <h4>Sep 2021-Mar 2023</h4>
        <p>Consumer Services and Cards Engineering Team</p>
        <li>
          Main developer of event-based microservice based on
          <b>Java Spring Boot</b>
          that processes system notifications for PayPal’s Debit Cards.
        </li>
        <li>
          Collaborated with cross-functional teams to implement, test and deploy
          40 web and mobile notifications related to Issuance and Payments.
        </li>
        <li>
          Participated in code review and worked with other engineering teams to
          migrate notifications away from their legacy components.
        </li>
        <li>
          Wrote unit and functional tests for backend components written with
          <b>Core Java</b> and Spring Boot, increasing test coverage by 30%,
          with <b>Mockito</b> and <b>Junit</b>.
        </li>
        <h4>Web Developer, CargoAI Singapore</h4>
        <h4>May 2020 - Sep 2020</h4>
        <li>
          Maintained and developed additional features for an airfrieght
          management system using <b>TypeScript</b> and <b>AngularJS</b>
        </li>
        <li>
          Implemented backend endpoints and refactored existing backend APIs
          with <b>Java Hibernate</b> framework to reduce code duplication and
          adhere to RESTful standards
        </li>
        <li>
          Written end-to-end tests using Jest and Puppeteer to test user flows
          and uncover bugs
        </li>
      </div>
      <div id="education">
        <h3>Education</h3>
        <h4>
          B.Sc. Computer Science, Singapore University of Technology and Design
          (SUTD).
        </h4>
        <p>Relevant coursework:</p>
        <li>50.003: Elements of Software Construction</li>
        <li>50.004: Data Structures and Algorithms</li>
        <li>50.043: Databases and Big Data Systems</li>
      </div>
      <div id="projects">
        <h3>My Projects</h3>
        <h4>kePa <a href="https://jiayichow.github.io/kepa">(Demo)</a></h4>
        <p>
          An online Pipa that you can play by clicking the notes or by using the
          keyboard. Written in React.
        </p>
        <h4>Book Review Web Application</h4>
      </div>
    </div>
  </body>
</html>
<div class="posts">
  <div class="post">
    <h1 class="post-title">{{ page.title }}</h1>
    <span class="post-date">{{ page.date | date_to_string }}</span>
    {{ content }}
  </div>

  <div class="related">
    <h2>Related Posts</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="pagination">
    {% if paginator.next_page %}
    <a
      class="pagination-item older"
      href="{{ site.baseurl }}page{{paginator.next_page}}"
      >Older</a
    >
    {% else %}
    <span class="pagination-item older">Older</span>
    {% endif %} {% if paginator.previous_page %} {% if paginator.page == 2 %}
    <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
    <a
      class="pagination-item newer"
      href="{{ site.baseurl }}page{{paginator.previous_page}}"
      >Newer</a
    >
    {% endif %} {% else %}
    <span class="pagination-item newer">Newer</span>
    {% endif %}
  </div>
</div>
