.sidebar {
  height: 100%;
  width: 150px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 2rem 1rem;
}

.body-text {
  font-size: 18px;
  position: fixed;
  top: 0;
  left: 280px;
  bottom: var(--margin);
  right: var(--margin);
  padding: 2rem 1rem;
  background: #ffffff;
  border-bottom-right-radius: 20px;
  width: 100%;
}

.container {
  margin-left: 0;
  margin-right: auto;
  max-width: 800px;
  max-height: 100vh;
  text-align: justify;
  overflow: auto;
  padding-bottom: 2rem;
}

.container::-webkit-scrollbar {
  display: none;
}
